<div class="container mt-3">
  <h3 class="textWhite">Convertidor</h3>
  <div class="mb-3">
    <label for="cantidad" class="form-label textWhite">Ingrese cantidad</label>
    <input
      type="text"
      [(ngModel)]="cantidad"
      class="form-control"
      id="cantidad"
      aria-describedby="cantidadhelp"
      (input)="convertir()"
    />
    <div id="cantidadhelp" class="form-text textWhite">
      Por favor ingrese la cantidad a convertir.
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mb-2">
      <label for="tengo" class="mb-2 textWhite">Tengo</label>
      <select
        id="tengo"
        class="form-select"
        aria-label="Default select example"
        [(ngModel)]="tengo"
        (change)="convertir()"
      >
        <option *ngFor="let moneda of monedas">{{ moneda }}</option>
      </select>
    </div>
    <div class="col-lg-6 mb-2">
      <label for="quiero" class="mb-2 textWhite">Quiero</label>
      <select
        id="quiero"
        class="form-select"
        aria-label="Default select example"
        [(ngModel)]="quiero"
        (change)="convertir()"
      >
        <option *ngFor="let moneda of monedas">{{ moneda }}</option>
      </select>
    </div>
  </div>
  <h5 class="text-center mt-3" *ngIf="cantidad > 0">
    <span class="badge text-bg-success">{{ cantidad + " " + tengo }}</span>
    <span class="mx-3 badge text-bg-secondary">SON </span>
    <span class="badge text-bg-success">{{ total | number: '0.0-2'}} {{ quiero }}</span>
  </h5>
</div>
